@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --main-bg: #001524;
  --card-bg: #1a2c3a;
  --white: #fff;
  --grayish-white:#f5f5f5;
}

body {
  color: var(--white);
  background-color: var(--main-bg);
  font-family: "Nunito", sans-serif;
}

/* ? ========== Heading ========== */
.wavy {
  position: relative;
  /* -webkit-box-reflect: below -12px linear-gradient(transparent, rgba(247, 236, 222, 0.2)); */
}
.wavy span {
  position: relative;
  display: inline-block;
  color: #f5f5f5;
  font-size: 2.7em;
  animation: animate 1.5s ease-in-out infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(0px);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(0px);
  }
}

/* ? ========== Main Container ========== */
.main-content .container {
  background-color: #1a2c3a;
}

/* ? ========== Form ========== */
.form-container {
  background: #0076b65e;
  box-shadow: 0 30px 40px rgba(0, 0, 0, 0.4);
}
.bookmark-form input {
  background-color: rgba(255, 255, 255, 0.3);
  color: #f5f5f5 !important;
  border: none;
  outline: none;
}
.bookmark-form input::placeholder {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
}
.bookmark-form input:focus {
  background-color: rgba(245, 245, 245, 0.4);
}
.form-btn {
  color: #f5f5f5;
  background: #0077b6;
  transition: all 0.1s ease-out;
}
.form-btn:hover {
  /* filter: brightness(0.9);
  -webkit-filter: brightness(0.9); */
  background: rgba(0, 119, 182, 0.7);
}
/* ? ========== Bookmarks ========== */
.empty-list,
.nolink {
  text-align: center;
  color: #ffffff9c;
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;
}

.empty-list .ghost-icon,
.nolink-icon i {
  font-size: 3rem;
  cursor: auto;
}

/* ? ========== Media Queries ========== */
@media screen and (min-width: 768px) {
  .empty-list,
  .nolink {
    font-size: 2.5rem;
  }
  .empty-list .ghost-icon,
  .nolink-icon i {
    font-size: 5rem;
  }
}
