.search-box {
  width: 300px;
}

.search-box input,
.search-box input:focus {
  background-color: var(--grayish-white-1);
  color: var(--text-color);
  border: none;
  outline: none;
  box-shadow: none;
}

.search-box input:-webkit-autofill {
  border: none;
  -webkit-text-fill-color: var(--text-color);
  transition: background-color 5000s ease-in-out 0s;
}

.search-box input::placeholder {
  color: var(--grayish-white-2);
}

.add-site-btn,
.add-site-btn:hover {
  background-color: var(--blue-btn);
  color: var(--text-color);
}

.add-site-btn i {
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {
  .search-box {
    width: 400px;
  }
}